body {
  background-color: #F5F5F5; /* Light cream background for a soft, inviting feel */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.day-button, .btn-outline-primary {
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #FA9D22; /* Burnt orange border */
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #800020; /* Burgundy background */
  color: #FAF9F6; /* Creamy white text */
}

.day-button:hover, .btn-outline-primary:hover {
  background-color: #FA9D22; /* Burnt orange background on hover */
  color: #0F172B; /* Dark blue text */
}

.day-button.btn-primary, .day-button:active, .day-button:focus, .btn-primary {
  background-color: #FA9D22 !important; /* Burnt orange for active/focused day */
  color: #0F172B !important; /* Dark blue text for contrast */
}

.menu-items .card {
  background-color: #FAF9F6; /* Creamy white for cards, softer look */
  color: #333; /* Dark gray text */
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 4px #222;
}

.menu-items .card:hover {
  transform: scale(1.05); /* Slight scale for interaction feedback */
}

.menu-items .card .card-body {
  padding: 15px;
}

.menu-items .card-title, .menu-items .card-subtitle {
  color: #800020; /* Burgundy for titles and subtitles */
}

.menu-items .card-text {
  font-size: 1em;
  color: #333; /* Dark gray for text */
}

.modal-content {
  background-color: #FAF9F6; /* Creamy white for modal background */
  color: #333; /* Dark gray for modal text */
  border-radius: 5px;
}

.modal-header, .modal-footer {
  background-color: #800020; /* Burgundy for a rich look */
  color: #FAF9F6; /* Creamy white text */
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px;
}

.modal-header .close {
  color: #FAF9F6;
  opacity: 1;
}

@media (max-width: 768px) {
  .button-container {
      flex-wrap: wrap;
  }

  .button-container .day-button {
      flex: 1 1 auto;
      margin-bottom: 10px;
  }
}

.loading-screen {
  background-color: #800020; /* Burgundy background for loading screen */
  color: #FAF9F6; /* Creamy white for loading text */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
