/* General Styles */
.container {
  font-family: 'Arial', sans-serif;
  color: #333333; /* Dark gray for general text for better readability */
}

h2 {
  text-align: center;
  color: #800020; /* Burgundy color for headers to convey sophistication */
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Card Styles */
.card {
  background-color: #FAF9F6; /* Creamy white background for cards for a softer appearance */
  color: #333333; /* Dark gray text color for cards for readability */
  border: 1px solid #FA9D22; /* Burnt orange border to highlight the cards */
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.card-hover:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}

.card-body {
  padding: 15px;
  background-color: #FAF9F6; /* Consistent with card background */
}

.card-title {
  font-size: 1.5em;
  color: #800020; /* Burgundy color for titles to add depth */
}

.card-text {
  font-size: 1em;
  color: #333333; /* Dark gray for text for readability */
}

.card-footer {
  background-color: #FAF9F6; /* Creamy white background for footer for a clean look */
  color: #808000; /* Olive green color for price to introduce a natural element */
}

.text-muted {
  color: #808000 !important; /* Olive green color for muted text for consistency */
}

/* Button Styles */
.btn-secondary {
  background-color: #808000; /* Olive green for buttons to match the earthy theme */
  color: #FFFFFF; /* White text color for buttons for contrast */
  border: none;
}

.btn-secondary:hover {
  transform: scale(1.1); /* Scale effect on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}

/* Modal Styling */
.modal-content {
  background-color: #FAF9F6; /* Creamy white background for modal for a light, inviting feel */
  color: #333333; /* Dark gray text in modal for readability */
  border-radius: 5px;
}

.modal-header, .modal-footer {
  background-color: #800020; /* Burgundy background for richness */
  color: #FAF9F6; /* Creamy white text for contrast */
}

.modal-body {
  background-color: #FAF9F6; /* Consistent with modal content background */
}

.modal-header .close {
  color: #FAF9F6; /* Creamy white for the close button for visibility */
}

.modal-footer {
  border-top: 1px solid #800020; /* Burgundy top border for a defined separation */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    width: 95%;
    margin: auto;
  }
  /* Additional responsive styles can be added here */
}

/* New styles for scrollable menu container */
.menu-page-container {
  padding-bottom: 100px; /* Adjust based on your navbar's height */
}

.menu-scroll-container {
  overflow-y: auto; /* Add scroll to the y-axis */
  max-height: calc(100vh - 150px); /* Adjust height based on your navbar and header */
  padding-right: 15px; /* To avoid cutting off content on the right in the scrollable area */
}

/* Make sure the scrollbar is visible only when necessary */
.menu-scroll-container::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
}

.menu-scroll-container::-webkit-scrollbar-thumb {
  background: #800020; /* Scrollbar color */
}

.menu-scroll-container::-webkit-scrollbar-track {
  background: #f5f5f5; /* Scrollbar track color */
}
