/* General Styles */
.container {
  font-family: 'Arial', sans-serif;
  color: #FA9D22; /* Specific yellow color */
}

h2 {
  text-align: center;
  color: #FFFFFF; /* White color for headers */
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #222;
  margin-bottom: 1rem;
}

/* Card Styles */
.card {
  background-color: #222431; /* Dark background for cards */
  color: #FFFFFF; /* White text color for cards */
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.card-hover:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}

.card-body {
  padding: 15px;
  background-color: #222431; /* Oxford Blue background */
}

.card-title {
  font-size: 1.5em;
  color: #FA9D22; /* Specific yellow color */
}

.card-text {
  font-size: 1em;
  color: #FFFFFF; /* White color for text */
  font-weight: bold; /* Makes text bolder */
  text-shadow: 2px 2px 4px #000000; /* Text shadow for readability */
}

.card-footer {
  background-color: #222431; /* Dark background for footer */
  color: #FA9D22; /* Specific yellow color */
}

.text-muted {
  color: #FA9D22 !important; /* Bright yellow color */
  font-weight: bold;
}

/* Button Styles */
.btn-secondary {
  background-color: #FA9D22; /* Button color to match the theme */
  color: #FFFFFF; /* White text color for buttons */
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for hover effect */
}

.btn-secondary:hover {
  transform: scale(1.1); /* Scale effect on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}

/* Continuous pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-secondary {
  animation: pulse 2s infinite ease-in-out; /* Apply the pulse animation */
}

/* Modal Styling */
.modal-content {
  background-color: #2a3b4c; /* Slightly lighter than card for distinction */
  color: #FA9D22; /* Specific yellow text to match the card text */
  border-radius: 5px;
  box-shadow: 0px 0px 0px #222;
}

.modal-header, .modal-footer {
  background-color: #222431; /* Dark background */
  color: #FA9D22; /* Specific yellow text */
  border: none;
}

.modal-body {
  background-color: #ffffff; /* White background for modal body */
}

.modal-header .close {
  color: #FA9D22; /* Specific yellow color for the close button */
}

.modal-footer {
  background-color: #222431; /* Dark background for modal footer */
  color: #FA9D22; /* Specific yellow color for text */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    width: 95%;
    margin: auto;
  }
  /* Additional responsive styles can be added here */
}
