/* Navbar container styles */
.navbar {
    background-color: #102027; /* Dark background for the navbar */
    color: #FAF9F6; /* Soft white text */
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Style the scrollbar to match the navbar theme */
.navbar::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
}

.navbar::-webkit-scrollbar-track {
    background: #102027; /* Scrollbar track color to match navbar bg */
}

.navbar::-webkit-scrollbar-thumb {
    background: #264653; /* Scrollbar handle color */
    border-radius: 5px; /* Rounded scrollbar handle */
}

.navbar::-webkit-scrollbar-thumb:hover {
    background: #2A9D8F; /* Scrollbar handle color on hover */
}

/* Style the navbar links */
.navbar-link {
    text-decoration: none;
    color: #FAF9F6; /* Soft white text */
    font-weight: 500;
    font-size: 1.5rem; /* Slightly smaller font size */
    width: 100%;
    padding: 1.5rem; /* Adjust padding */
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions for hover effects */
    box-sizing: border-box;
}

/* Hover effect for navbar links */
.navbar-link:hover, .navbar-link.active, .navbar-link:focus {
    background-color: #264653; /* A slightly lighter blue for hover effect */
    color: #E9C46A; /* Burnt orange text for contrast */
}

/* Style the navbar title */
.navbar-title {
    text-decoration: none;
    color: #E9C46A; /* Burnt orange text for emphasis */
    margin-bottom: 20px;
    font-size: 2rem; /* Larger font size for the title */
    font-weight: 800;
    text-align: center;
    padding: 1rem; /* Adjust padding */
    width: 100%;
}

.navbar-title:hover {
    color: #F4A261; /* Slightly lighter orange on hover */
}

/* Highlight active navbar link */
.navbar-link.active {
    background-color: #2A9D8F; /* Teal highlight color */
    color: #E9C46A; /* Burnt orange text color for highlighted link */
}

/* Icon styling */
.user-icon {
  color: #E9C46A; /* Burnt orange color for icons */
  margin-right: 8px; /* Space between icon and text */
}

/* Adjust the padding for the menu-text */
.menu-text {
  padding-left: 8px; /* Add some padding if needed */
}

/* Add any additional styles as needed */
